<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/CreateCss.css">
</head>
<body>
    <h1>Voer hier de gegevens van een nieuwe song toe:</h1>
    <form>
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" name="ID" /></td>
            </tr>
            <tr>
                <td>Artiest</td>
                <td><input type="text" name="Artiest" /></td>
            </tr>
            <tr>
                <td>Titel</td>
                <td><input type="text" name="Titel" /></td>
            </tr>
            <tr>
                <td>Genre</td>
                <td><input type="text" name="Genre" /></td>
            </tr>
            <tr>
                <td>Tijd</td>
                <td><input type="text" name="Tijd" /></td>
            </tr>
            <tr>
                <td>File</td>
                <td><input type="text" name="File" />
            </tr>
            <tr>
                <td></td>
                <td><a href="~/index.cshtml"><button class='btnAdd'>Een nieuwe song toevoegen.</button></a></td>
            </tr>
        </table>
    </form>

    @if (IsPost)
    {
        DataRow dr = mySongMethods.GetEmptyDataRow();

        dr[0] = Request.Form["id"];
        dr[1] = Request.Form["artist"];
        dr[2] = Request.Form["title"];
        dr[3] = Request.Form["year"];
        dr[4] = Request.Form["genre"];
        dr[5] = Request.Form["time"];
        dr[6] = Request.Form["file"];

        mySongMethods.CreateSong(dr, file);
        Response.Redirect(@"~/index.cshtml");
    }
</body>
</html>