<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Delete</title>
    <link rel="stylesheet" type="text/css" href="~/DeleteCss.css">
</head>
<body>
    <div class="container">
        <form method="post">
            <h1>Weet u zeker dat u deze song wilt verwijderen?</h1>
            <input type="radio" name="keuze" value="ja"  class="radiobox"/>Ja
            <input type="radio" name="keuze" value="nee" class="radiobox"/>Nee
            <br />
            <br />
            <input type="submit" value="verder" class="btnVerder" />
    </form>
    </div>
    @if (IsPost)
    {
        if (Request.Form["keuze"] == "ja")
        {
            string id = Request.QueryString["id"];
            mySongMethods.DeleteSong(id, file);
        }

        Response.Redirect(@"~/index.cshtml");
    }
</body>
</html>