body {
    font-family: sans-serif;
    background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #2C5364;
    box-sizing: border-box;
    background: transparent;
    outline: 0;
    color: white;
}

.btnAdd {
    background-color: #2C5364;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.5;
    margin-top: 30px;
    transition: border-left 0.2s, border-bottom 0.2s, opacity 0.2s;
}

    .btnAdd:hover {
        opacity: 1;
        border-left: 2px solid #0F2027;
        border-bottom: 2px solid #0F2027;
    }

div {
    border-radius: 5px;
    padding: 20px;
}

td {
    padding-left: 10px;
}
